.page-header {
  overflow: hidden;
}

.page-header h1 {
  color: #74bcff;
  display: block;
  float: left;
}

.navbar-header img {
  height: 35px;
  width: 35px;
  padding-bottom: 10px;
}

.page-header img {
  display: block;
  float: right;
}
